body{
  background-color: pink;
}
.box{
  top: 100px;
  position: relative;
  height: 200px;
  width: 200px;
  transform-style: preserve-3d;
  animation: animate 20s linear infinite;
}
@keyframes animate{
  0%{
    transform: perspective(1000px) rotateY(0deg);
  }
   100% {
     transform: perspective(1000px) rotateY(360deg);
   }
}
.box img{
  height: 190px;
  width: 190px;
}
.box span{
  transform-origin: center;
  transform-style: preserve-3d;
  position: absolute;
  transform: rotateY(calc(var(--i)* 45deg)) translateZ(400px);
  -webkit-box-reflect: below 0px linear-gradient(transparent, transparent,#0004);
}